@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
.light-mode {
	--color-primary: #FFFFFF;
	--color-secondary: crimson;
	--color-white: #454e56;
	--color-black: #000;
	--color-grey0: #f8f8f8;
	--color-grey-1: #6c7983;
	--color-grey-2: #6c7983;
	--color-grey-3: #6c7983;
	--color-grey-4: #454e56;
	--color-grey-5: #f8f8f8;
	--color-grey-6: #12181b;
  }
  :root {
	--hue-color: 242;
	--skin-color: crimson;
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 85%);
	--body-color: #fbffffdf;
	--body-font: "Poppins", sans-serif;
	--biggest-font-size: 3rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;
	--smaller-font-size: 0.813rem;
	--font-medium: 500;
	--font-bold: 600;
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	--z-fixed: 10;
	--z-modal: 100;
  }
  @media screen and (max-width: 1024px) {
	:root {
	  --biggest-font-size: 2rem;
	  --h1-font-size: 1.5rem;
	  --h2-font-size: 1.25rem;
	  --h3-font-size: 1.125rem;
	  --normal-font-size: 0.938rem;
	  --small-font-size: 0.813rem;
	  --smaller-font-size: 0.75rem;
	}
  }
  
  html {
	  scroll-behavior: smooth;
	  overflow-x: hidden;
  }
  body {
	background-color: var(--color-primary);
	font-family: "Poppins", sans-serif;
	font-size: 1.1rem;
	color: var(--color-white);
	transition: all 0.4s ease-in-out;
  }
a {
  text-decoration: none;
  }
.all{
	scroll-snap-type: y mandatory;
	height: 100vh;
	transition: 3s;
}
.sectiune {
	display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
}
.active-nav-bar {
	display: flex !important;
	animation: appear 1s ease-in-out;
	transform: translateY(0) scaleY(1);
  }
.active-sectiune {
	display: block;
	animation: appear 1s ease-in-out;
	transform: translateY(0) scaleY(1);
  }
  @keyframes appear {
	0% {
	  transform: translateY(-100%) scaleY(0);
	}
	100% {
	  transform: translateY(0) scaleY(1);
	}
  }
  .rosu{
    color: crimson;
  }
  .controls {
	position: fixed;
	z-index: 10;
	top: 85%;
	right: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
  }
  .controls .control {
	padding: 1rem;
	cursor: pointer;
	background-color: var(--color-grey-4);
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.7rem 0;
	box-shadow: var(--box-shadow-1);
  }
  .controls .control i {
	font-size: 1.2rem;
	color: var(--color-grey-2);
	pointer-events: none;
  }
  .controls .active-btn {
	background-color: crimson;
	transition: all 0.4s ease-in-out;
  }
  .controls .active-btn i {
	color: var(--color-white);
  }
  
  .theme-btn {
	top: 5%;
	right: 3%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--color-grey-4);
	cursor: pointer;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-in-out;
  }
  .theme-btn:active {
	transform: translateY(-3px);
  }
  .theme-btn i {
	font-size: 1.4rem;
	color: var(--color-grey-2);
	pointer-events: none;
  }
#unu {
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}
#doi {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}
#trei {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}
.container
{	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: 1;
}
.container-shop
{	
	margin-top: 6.5rem;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
  margin-bottom: 8rem;
}
.container1
{
	padding: 3rem 18rem;
}
.hero img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 2.4rem;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
	display: none;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1600px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .logo{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  border-radius: 100%;
}
#header .logo_box{
  display: flex;
}
#header .logo_text{
  margin-top: 5px;
}
#header .nav-list ul.active {
	left: 0%;
}
.bara-stanga {
  border-left: 2px crimson solid;
}
.bara-dreapta {
  border-right: 2px crimson solid;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/pachete.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */
.me{
	min-height: 100vh;
	color: var(--color-white);
	overflow: hidden;
  }
  .me-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;
  }
  .me-content .left-me {
	display: flex;
	align-items: center;
	position: relative;

  }
  .me-content .left-me .h-shape {
	transition: all 0.4s ease-in-out;
	width: 65%;
	height: 100%;
	background-color: var(--color-secondary);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  }
  .me-content .left-me .image {
	border-radius: var(--br-sm-2);
	height: 80%;
	width: 68%;
	margin-left: 4rem;
	background-color: var(--color-black);
	transition: all 0.4s ease-in-out;
	border-radius: 20px;
  }
  .me-content .left-me .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s ease-in-out;
	filter: grayscale(100%);
	border-radius: 20px;
  }
  .me-content .left-me .image img:hover {
	filter: grayscale(0);
  }
  .me-content .right-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 18rem;
  }
  .me-content .right-me .name {
	font-size: 3rem;
  }
  .me-content .right-me .name span {
	color: var(--color-secondary);
  }
  .me-content .right-me p {
	margin: 1.5rem 0;
	line-height: 2rem;
  }
  .me img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .btn-con {
	display: flex;
	align-self: flex-start;
  }
  .main-btn {
	border-radius: 30px;
	color: inherit;
	font-weight: 600;
	position: relative;
	border: 1px solid var(--color-secondary);
	display: flex;
	align-self: flex-start;
	align-items: center;
	overflow: hidden;
	margin-top: -0.4rem;
	margin-right: 2rem;
  }
  .main-btn .btn-text {
	padding: 0 2rem;
  }
  .main-btn .btn-icon {
	background-color: var(--color-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0%;
	padding: 1rem;
  }
  .main-btn::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: all 0.4s ease-out;
	z-index: -1;
  }
  .main-btn:hover {
	transition: all 0.4s ease-out;
  }
  .main-btn:hover::before {
	width: 100%;
	height: 100%;
	background-color: var(--color-secondary);
	transform: translateX(0);
	transition: all 0.4s ease-out;
  }
/* Services About */  
  /*About*/
  .about-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 8rem;
	padding-bottom: 5rem;
	margin-top: 6rem;
  }
  .about-container .right-about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
  }
  .about-container .right-about .about-item {
	border: 1px solid var(--color-grey-5);
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
	box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .about-container .right-about .about-item:hover {
	cursor: default;
	transform: translateY(-5px);
	border: 1px solid var(--color-secondary);
	box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
  }
  .about-container .right-about .about-item .abt-text {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
  }
  .about-container .right-about .about-item .abt-text .large-text {
	font-size: 3rem;
	font-weight: 700;
	color: var(--color-secondary);
  }
  .about-container .right-about .about-item .abt-text .small-text {
	padding-left: 3rem;
	position: relative;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: var(--color-grey-1);
	letter-spacing: 2px;
  }
  .about-container .right-about .about-item .abt-text .small-text::before {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	width: 2rem;
	height: 2px;
	background-color: var(--color-grey-5);
  }
  .about-container .left-about {
	padding-right: 5rem;
  }
  .about-container .left-about p {
	line-height: 2rem;
	padding: 1rem;
	color: var(--color-grey-1);
  }
  .about-container .left-about h4 {
	font-size: 2rem;
	text-transform: uppercase;
  }
  .main-title {
	text-align: center;
  }
  .main-title h2 {
	margin-top: 3rem;
	position: relative;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
  }
  .main-title h2 span {
	color: var(--color-secondary);
  }
  .main-title h2 .bg-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--color-grey-5);
	transition: all 0.4s ease-in-out;
	z-index: -1;
	transform: translate(-50%, -50%);
	font-weight: 800;
	font-size: 5.2rem;
  }
  #contact .main-title{
    margin-top: 6rem;
  }
  #shop .main-title h2{
    text-transform:none;
    margin-bottom: 4rem;
  }
  .about-container .left-about p {
	padding-left: 0;
  }
  
/*carusel Sectio*/

.carusel-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding-top: 3rem;
	padding-bottom: 5rem;
	text-align: justify;
  align-items: center;
  }
  .carusel-container_poza {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10rem;
	padding-top: 8rem;
	padding-bottom: 5rem;
  }
  .carusel-container .right-carusel {
	padding-right: 4rem;
	padding-bottom: 4rem;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
  }
  .carusel-container .right-carusel p {
	line-height: 1.8rem;
	color: var(--color-grey-1);
  }
  .carusel-container .right-carusel h4 {
	font-size: 2rem;
	text-transform: uppercase;
  }
.carusel_text{
	font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carusel_title{
	margin-top:5rem;
	margin-bottom:2rem;
	text-align: center;
}
.carusel-container .left-carusel
{
	align-items: center;
	justify-content: center;
  	justify-self: center;
}
.carusel-container .left-carusel .carusel-img {
	height: 98%;
	width: 98%;
	position: relative;
	border: 10px solid rgb(255, 255, 255);
	
}
.carusel-container .left-carusel .carusel-img::after {
	content: '';
	position: absolute;
	left: -70px;
	top: 70px;
	height: 450px;
	width: 350px;
	border: 7px solid crimson;
	z-index: -1;
}
.image_carusel
{
	border: 4px solid black;
  width: 368px;
}
.container-carusel {
    overflow: hidden;
    padding: 20px;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2rem;
    border-radius: 20px;
    background: #2974ad76;
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 410px;
    --card-height: 650px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1){
    background-image: url("./cartonase/1.png");
    background-size: cover;
  }
   
  .card:nth-of-type(2){
    background-image: url("./cartonase/2.png");
    background-size: cover;
  }
  
  .card:nth-of-type(3){
    background-image: url("./cartonase/3.png");
    background-size: cover;
  }
  .card:nth-of-type(4){
    background-image: url("./cartonase/4.png");
    background-size: cover;
  }
  .card:nth-of-type(5)  {
    background-image: url("./cartonase/5.png");
    background-size: cover;
  }
  .card:nth-of-type(6)  {
    background-image: url("./cartonase/6.png");
    background-size: cover;
  }
  .card:nth-of-type(7){
    background-image: url("./cartonase/7.png");
    background-size: cover;
  }
  .card:nth-of-type(8){
    background-image: url("./cartonase/9.png");
    background-size: cover;
  }
  .card:nth-of-type(9){
    background-image: url("./cartonase/10.png");
    background-size: cover;
  }
  .image-container {
    width: 20em;
    height: 20em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
  
  
  .carusel h2 a {
    color: #f5b916
  }
  .carusel .box
  {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: auto;
    height: 100px;
    text-align:end;
  }
  .carusel .question
  {
    background-image: linear-gradient(60deg, #29323cb7 0%, #485563 100%);
    margin-top: 2.56rem;
    display: flex;
    position:absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 1rem;
    transition:all,0.4s;
  }
  .carusel .activate
  {
    z-index:1;
    opacity: 1;
  }
  .carusel .container-text
  {
    justify-content: center;
    display: flex;
    background-color: white;
    z-index:0;
    overflow: hidden;
    height: 25em;
  }
  .carusel a {
    text-decoration: none;
    color: inherit;
}

.carusel main {
    border-radius: 10px;
    padding: 5px;
    width: 95%;
    max-width: 750px;
    margin: 1rem auto ;
}

.carusel .text-container {
    text-align: center;
    color: #FFF;
}

.carusel .quiz-options {
    margin: 20px ;
}

[type=radio] {
    border: 0;
    height: 0.0625rem;
    width: 0.0625rem;
    position: absolute;
}

.carusel label {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    background: rgba(255, 5, 5, 0.72);
    padding: 8px;
    position: relative;
    width: 100%;
    color: #000000;
}

.carusel label:hover .alphabet {
    background: #000;
    color: #ffffff;
}

.carusel label .alphabet {
    border-radius: 5px;
    border: solid 1px #000;
    padding: .4rem .5rem .4rem;
    width: 2.3rem;
    margin: 0 1.3rem 0 .7rem;
    display: flex;
    justify-content: center;
    background: #ffffff;
    color: #000000;
}

.carusel label .icon {
    height: auto;
    position: absolute;
    left: 92%;
    top: 32%;
}

.carusel label .jfdedgwfzexf4hjin {
        width: 18px;
    }

	.carusel  label .jdsjkefkefkefefexco {
        width: 22px;
    }

    .carusel .jshdgdgwgdwfdfwdwjfdjwwdwdco:checked+label {
        background: rgb(76, 245, 194);
        -webkit-text-stroke: .6px #fff;
    }

	.carusel .jshdgdgwgdwfdfwdwjfdjwwdwdco:checked+label .alphabet {
    background: #000000;
    color: #FFF;
}

.carusel .jshdgdgwgdwfdfwdwjfdjwwdwdin:checked+label .alphabet {
    background: black;
    color: #ffffff;
}

.one-a:valid+label,
.two-c:valid+label,
.three-c:valid+label,
.four-d:valid+label,
.five-a:valid+label,
.six-b:valid+label,
.seven-d:valid+label,
.eight-b:valid+label,
.nine-a:valid+label{
animation: flash .5s infinite;
}

@keyframes flash {
    0% {
        background-color: #4cf5c2;
    }
    100% {
        background-color: #4cf5c2;
    }
}

.carusel input:invalid+label {
    background: #fff;
}

.carusel input:invalid+label:hover {
    background: linear-gradient(to right, #d8d9da 10%, #ffffff 80%);
    cursor: pointer;
}

.carusel input:valid+label {
    color: #ffffff;
    pointer-events: none
}
.carusel #score-counter {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background: rgba(189, 189, 189, 0.749);
    margin-top: 0.3rem;
}

.carusel .score-text {
    margin: 0 20px;
}

.carusel .score-counter::after { 
    content: counter(points) "/9";
}

.carusel .text-question
{
  margin-right: 3rem;
  font-weight: 500;
  font-size:large ;
}

.carusel .shop_filters{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  background-color: rgba(215, 215, 215, 0.501);
  margin-left: 15%;
  margin-right: 15%;
}

.carusel  .shop_item{
  cursor: pointer;
  color: black;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
}
.carusel .active_shop {
  background-color:crimson;
  color: hsl(242, 8%, 95%);
}
.carusel .button-wrapper {
  position: relative;
  width:200px;
  height:50px;
  position:absolute;
  left: calc(50% - 100px);
  z-index: 10;
}
.carusel .button-wrapper canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
/* MEDIA QUERY */

@media (max-width: 420px) {

    label {
        font-size: .71rem;
    }

    label .alphabet {
        margin: 0 .9rem 0 .7rem;
    }

    .jshdgdgwgdwfdfwdwjfdjwwdwdco:checked+label {
        background: rgb(76, 245, 194);
        -webkit-text-stroke: .6px #fff;
    }

    label .jdsjkefkefkefefexco {
        width: 16px;
    }

    label .jfdedgwfzexf4hjin {
        width: 14px;
    }

    #game-over h1 {
        font-size: 3rem;
    }

    .score-counter {
        width: 120px;
        height: 5%;
        font-size: .7rem;
    }

    .score-text {
        margin: 0 20px 0 0;
    }
}

@media (max-width: 325px) {

    label {
        font-size: .63rem;
    }

    label .alphabet {
        margin: 0 .55rem 0 .7rem;
    }

    label .jdsjkefkefkefefexco {
        width: 14px;
    }

    label .jfdedgwfzexf4hjin {
        width: 12px;
    }

}
/*End carusel Sectio*/
/* contact Section */
#contact .contact {
	flex-direction: column;
	margin: 0 auto;
}
#contact .contact-items {
	max-width: 1400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */
.news-content{
  margin-top: 10rem;
}
.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 8rem;
}
.news .new {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.news .new:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.news .new:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.news .new img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.news .new .new-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}
.news .new .new-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.news .new .new-text h4:hover {
  color: var(--color-secondary);
}
.news .new .new-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}
/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: .05rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 80px;
	width: 90px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
.contact-content-con {
	display: flex;
	padding-top: 3.5rem;
  }
  .contact-content-con .input-control {
	margin: 1.5rem;
  }
  .contact-content-con .input-control input, .contact-content-con .input-control textarea {
	border-radius: 30px;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0.8rem 1.1rem;
	outline: none;
	width: 100%;
	color: var(--color-white);
	resize: none;
  }
  input{
	background-color: var(--color-grey-5);
	border: none;
  }
  .contact-content-con .i-c-2 {
	display: flex;
  }
  .contact-content-con .i-c-2 :last-child {
	margin-left: 1.5rem;
  }
  .contact-content-con .i-c-3 {
	display: flex;
  }
  .contact-content-con .i-c-3 :last-child {
	margin-left: 1rem;
  }
  .contact-content-con .submit-btn {
	display: flex;
	justify-content: flex-start;
  }
  .selectdiv {
	position: relative;
	float: left;
  width: 25vw;
  }
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
	content: '<>';
	color: #333;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: -14%;
	top: 14px;
	padding: 0 0 2px;
	border-bottom: 1px solid #999;
	position: absolute;
	pointer-events: none;
  }
  
  .selectdiv select {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	appearance: none;
	display: block;
	height: 50px;
  width: 28vw;
	margin-bottom: 20px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
	padding: 0px 24px;
	line-height: 1.75;
	background-color: #f8f8f8;
	border-radius: 30px;
	border: 1px solid #ea0a0a;
	-ms-word-break: normal;
  }
  .contact-form{
	width: 60vw;
  }
  .suma_total
  {
	display:flex;
  align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	border-top:2px solid #000000;
	background: var(--color-grey-5);
  }
  .pret_total
  {
	margin-left:2rem;
  margin-top: 0.05rem;
  border-bottom: 1px black solid;
  }
  .pret_total h1{
    color: crimson;
  }
  .button-submit {
	display: flex;
 	justify-content: center;
  	align-items: center;
	width: 100px;
	height: 55px;
	background: crimson;
	border-radius: 30px;
	transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
	margin-top: -0.6rem;
	margin-right: 1rem;
	border: 0px;
	font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
  }
  
  svg {
	transform: rotate(180deg);
	transition: all .5s;
  }
  
  .button__circle {
	width: 60px;
	height: 60px;
	background: mediumseagreen;
	border-radius: 50%;
	transform: rotate(-180deg);
  }
  
  .button-submit button:hover {
	cursor: pointer;
  }
  
   .tick {
	display: flex;
  	justify-content: center;
  	align-items: center;
	color: white;
	transition: all .9s;
  }
  .gresit
  {
	border:2px crimson solid;
  }
  #shop h1,
#shop h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

#shop ul {
  list-style: none;
}

#shop a {
  text-decoration: none;
}

#shop img {
  max-width: 100%;
  height: auto;
}

#shop button {
  cursor: pointer;
}


#shop .container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
#shop .shop_container_produse
{
  margin-top: 3rem;
  padding-top: 6rem;
  border-top: 2px black solid;
}

.grid {
  display: grid;
}
#shop #biologie {
  position: flex;
  transition: all 0.8s;
}
#shop #chimie {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.8s;
}
#shop #fizica {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.8s;
}
#shop #accesorii {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.8s;
}
#shop .active_filtru {
  pointer-events: all;
  opacity: 1;
}
#shop .disable_filtru {
  pointer-events: none;
  opacity: 0;
}
#shop  {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
#shop .spatiu_shop{
	display: flex;
	justify-content: center;
}
#shop .shop_container1 {
  grid-template-columns: repeat(3, 320px);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
#shop .shop_container2 {
  width:1075px;
  grid-template-columns: repeat(3, 320px);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
#shop .shop_container3 {
  width:1075px;
  grid-template-columns: repeat(3, 320px);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
#shop .shop_container4 {
  width:1075px;
  grid-template-columns: repeat(3, 320px);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.produs_popup-info
{
  color: white;
}
#shop .shop_container1 {
  background-color: #2974ad76;
}
#shop .shop_container2 {
  background-color: #7d13bf69;
}
#shop .shop_container3 {
  background-color: #0bc47488;
}
#shop .shop_container4 {
  background-color: #f09f0888;
}
#shop .shop_filters {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  background-color: rgba(215, 215, 215, 0.501);
  margin-left: 15%;
  margin-right: 15%;
}
#shop .shop_filters2 {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  background-color: #2974ad76;
  margin-left: 30%;
  margin-right: 30%;
  transition-duration: 0.5s;
}
#shop .filtru {
  cursor: pointer;
  color: black;
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-big);
  border-radius: 0.5rem;
}
#shop .shop_item {
  cursor: pointer;
  color: black;
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

#shop .shop_card {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.551);
  padding: 1.25rem;
  border-radius: 0.5rem;
}
#shop .shop_card:hover {
  transition: 0.4s ease-in-out;
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid #00000000;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
#shop .shop_card_flex {
  display: flex;
  justify-content: space-between;
}
#shop .shop_img {
  width: 300px;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
  cursor: pointer;
  transition: 0.5s;
}
#shop .shop_img:hover{
  opacity:0.8;
}
#shop .produs_item-details {
  display: none;
}

#shop .shop_title {
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}



#shop .active_shop {
  background-color: var(--skin-color);
  color: hsl(var(--hue-color), 8%, 95%);
}
#shop .pret{
  font-size: 1.2rem;
  font-weight: var(--font-medium);
  margin-top: 0.7rem;
  color: crimson;
}
#shop .add-to-cart {
  background-color: #0979bab9 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer
}
#shop .add-to-cart:hover {
  box-shadow: 0 0 8px rgb(141, 141, 141);
}
#shop .icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}

#shop .icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 16%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); 
  background-color: #000;
  border-bottom-left-radius: 35%;
}

#shop .icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 14%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); 
  background-color: #000;
}

#shop .icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 53%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg); 
  background-color: inherit;
}

#shop .icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 67%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

#shop .icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 41%;
  top: 45%;
  background-color: #000;
}

#shop .icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: 3%;
  background-color: inherit;
}

#shop .icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 36%;
  bottom: 20%;
}

#shop .icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 208%;
  bottom: 0;
}
#shop .curand{
  font-size: 4rem;
  text-align: center;
  background-color: rgba(215, 215, 215, 0.501);;
  padding: 50px;
  margin: 20px;
}
.produs_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.576);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.produs_popup.open {
  opacity: 1;
  visibility: visible;
}

.produs_popup-inner {
  background-image: linear-gradient(60deg, #29323c 50%, #485563 100%);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
  width: 70vw;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
}

.produs_popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}
 .produs_popup-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}
.shop_produs_popup-close {
  top: 7rem;
  right: 15rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}

.produs_popup-img {
  border-radius: 0.5rem;
  width: 100%;
}

.produs_popup-subtitle {
  font-size: 1rem;
  margin-bottom: var(--mb-0-25);
}

.details_title {
  font-size: 1.4rem;
  font-weight: var(--font-big);
  margin-bottom: var(--mb-1);
}

.details_description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.details_info li {
  margin-bottom: var(--mb-0-75);
  text-transform: capitalize;
  font-size: var(--small-font-size);
}

.details_info li:last-child {
  margin-bottom: 0;
}

.details li span {
  font-weight: normal;
}

.details_info li a {
  text-transform: lowercase;
  color: var(--skin-color);
}
#tray {
  position: fixed;
  height: 70px;
  width: 70px;
  background-color: #0979bab9 ;
  display: block;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
  left: 25px;
  bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#tray:hover {
  box-shadow: 0 0 10px rgb(141, 141, 141);
}

#tray i {
  color: #ffffff;
  margin-top: 18px;
  font-size: 30px;
}
.fa {
	margin-top: 25px;
	color: rgba(0,0,0,0.15);
	font-size: 3em;
}
.produs_popup_shop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.576);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 0;
}
.produs_popup_shop.open {
  opacity: 1;
  visibility: visible;
}
.shopping-cart {
  width: 80%;
  height: 80%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  overflow-y:  auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.shopping-cart .title {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border: 1px solid #E1E8EE;
  border-top: 0px;
  padding: 2rem;
  padding-bottom: 4rem;
  color: #5E6977;
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: underline;
}
 
.shopping-cart .item {
  padding-left:30px;
  padding-right:30px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.shopping-cart .total{
  padding:40px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  border:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
#tray .count {
  position: absolute;
  background-color: rgba(212,7,10,1.00);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 1px;
  color: #fff;
  font-weight: 400;
  }
.shopping-cart .button-clear_all {
  height: 50px;
  background: crimson;
  border: 1.5px solid crimson;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.shopping-cart .button-clear_all:hover,
.shopping-cart .button-clear_all:active {
  background-color: initial;
  background-position: 0 0;
  color: crimson;
}

.shopping-cart .button-clear_all:active {
  opacity: .5;
}
.shopping-cart .button-buy {
  background: #0979bab9 ;
  border: 1.5px solid #0979bab9 ;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin-top: 1rem;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.shopping-cart .button-buy:hover,
.shopping-cart .button-buy:active {
  background-color: initial;
  background-position: 0 0;
  color: #0979bab9 ;
}

.shopping-cart .button-buy:active {
  opacity: .5;
}
.shopping-cart .buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.shopping-cart .delete-btn,
.shopping-cart .like-btn {
  margin-left: 50%;
  transform: translate(50%,0);
  display: inline-block;
  Cursor: pointer;
}
.shopping-cart .delete-btn {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.shopping-cart .delete-btn-img
{
  width:36px;
}
.shopping-cart .delete-btn:hover {
  opacity: 1;
}
.shopping-cart .delete-btn:before, .close:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.shopping-cart .delete-btn:before {
  transform: rotate(45deg);
}
.shopping-cart .delete-btn:after {
  transform: rotate(-45deg);
}

.shopping-cart .like-btn {
  position: absolute;
  top: 18px;
  left: 28px;
  background: url('../img/twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.shopping-cart .is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.shopping-cart .img_shop_small
{
  width: 200px;
  margin-bottom: 20px;
}

.shopping-cart .description {
  padding: 10px;
  width: 205px;
  margin-right: 2rem;
}
 
.shopping-cart .description span {
  display: block;
  font-size: 1.4rem;
  color: #43484D;
  font-weight: 500;
}
 
.shopping-cart .description span:first-child {
  margin-bottom: 5px;
}
.shopping-cart .description span:last-child {
  margin-top: 8px;
  color: crimson;
}
.shopping-cart .quantity {
  display: flex;
  padding-top: 35px;

}
.shopping-cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  justify-content:center ;
  width: 50px;
  font-size: 1.4rem;
  color: #4d4343;
  font-weight: 300;
  margin-top: -15px;
}
 
.shopping-cart button[class*=btn] {
  width: 40px;
  height: 40px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.shopping-cart .minus-btn
{
  margin-left: 10px;
}
.shopping-cart .minus-btn img {
  margin-top: 5px;
  width:30px;
}
.shopping-cart .plus-btn
{
  margin-right: 10px;
}
.shopping-cart .plus-btn img {
  margin-top: -4.5px;
  margin-left: 0px;
  width:40px;
}
 
.shopping-cart button:focus,
.shopping-cart input:focus {
  outline:0;
}
.shopping-cart .total-price {
  margin-top: 40px;
  font-size: 1.2rem;
  color: #43484D;
  font-weight: 500;
}
.shopping-cart .total-price-shop {
  font-size: 2rem;
  color: #43484D;
  font-weight: 500;
}
.shopping-cart .input_box{
  padding-top: 1rem;
  width: 1rem;
}
.shopping-cart::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}
@media (max-width: 1000px) {
  .produs_popup-inner
  {
    width: 100vw;
  }
  .shopping-cart .quantity input
  {
    width: 40px;
  }
  .shopping-cart {
    width: 80vw;
    overflow: auto;
  }
  .shopping-cart .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .shopping-cart .image img {
    width: 50vw;
  }
  .shopping-cart .image,
  .shopping-cart .quantity,
  .shopping-cart .description {
    width: 70vw;
    text-align: center;
    margin: 6px 0;
  }
  .shopping-cart .quantity{
    margin-top: 20px;
    display:grid;
    grid-template-columns:repeat(3, 60px);
    margin-left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  .shopping-cart .input_box
  {
    padding-left: 0;
    padding-right: 0;
  }
  .shopping-cart .total-price
  {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1408px) {
  #shop .shop_container1 {
    width: 865px;
    grid-template-columns: repeat(3, 250px);
  }
  #shop .shop_container2 {
    width: 865px;
    grid-template-columns: repeat(3, 250px);
  }
  #shop .shop_container3 {
    width: 865px;
    grid-template-columns: repeat(3, 250px);
  }
  #shop .shop_container4 {
    width: 865px;
    grid-template-columns: repeat(3, 250px);
  }
}

@media screen and (max-width: 1216px) {
  #shop .shop_container1 {
    width: 805px;
    grid-template-columns: repeat(2, 300px);
  }
  #shop .shop_container2 {
    width: 805px;
    grid-template-columns: repeat(2, 300px);
  }
  #shop .shop_container3 {
    width: 805px;
    grid-template-columns: repeat(2, 300px);
  }
  #shop .shop_container4 {
    width: 805px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 950px) {
  #shop .shop_container1 {
    width: 555px;
    grid-template-columns: repeat(2, 220px);
  }
  #shop .shop_container2 {
    width: 555px;
    grid-template-columns: repeat(2, 220px);
  }
  #shop .shop_container3 {
    width: 555px;
    grid-template-columns: repeat(2, 220px);
  }
  #shop .shop_container4 {
    width: 555px;
    grid-template-columns: repeat(2, 220px);
  }
}
@media screen and (max-width: 745px) {
  #shop .shop_filters2{
  margin-left: 20%;
  margin-right: 20%;
}
}
@media screen and (max-width: 610px) {
  #shop .curand{
    font-size: 3rem;
  }
  #shop .shop_container1 {
    width: 365px;
    grid-template-columns: repeat(1, 250px);
  }
  #shop .shop_container2 {
    width: 365px;
    grid-template-columns: repeat(1, 250px);
  }
  #shop .shop_container3 {
    width: 365px;
    grid-template-columns: repeat(1, 250px);
  }
  #shop .shop_container4 {
    width: 365px;
    grid-template-columns: repeat(1, 250px);
  }
  #shop .shop_card {
    padding: 1rem;
  }
}

@media screen and (max-width: 440px) {
  
  #shop .shop_filters {
    margin-left: 5%;
    margin-right: 5%;
  }
}


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 3rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 4rem;
	}
	/* End Hero */

	/* contact  */
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.2rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
	#contact .contact {
		flex-direction: column;
		padding-bottom: 20rem;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 10rem;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

}
@media screen and (max-width: 600px) {
	.about-container {
	  grid-template-columns: repeat(1, 1fr);
	}
	.about-container .right-about {
	  grid-template-columns: repeat(1, 1fr);
	  padding-top: 2.5rem;
	}
	.about-container .left-about {
	  padding-right: 0;
	}
	.about-container .left-about p {
	  padding-left: 0;
	}
	.me {
		padding: 0 !important;
	}
	
	.theme-btn {
		width: 50px;
		height: 50px;
	}
	
	.me-content {
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 6rem;
	}
	
	.left-me .h-shape {
		display: none;
	}
	
	.right-me {
		grid-row: 1;
		padding-right: 0rem !important;
		width: 90%;
		margin: 0 auto;
	}
	.right-me .name {
		font-size: 2.5rem !important;
		text-align: center;
		padding-top: 3rem;
	}
	
	.me-content .left-me .image {
		margin: 0 auto;
		width: 90%;
	}
	.container1 {
	  padding: 2rem 2.5rem !important;
	}
	.main-title h2 {
	  font-size: 2rem;
	}
	.main-title h2 span {
	  font-size: 2.3rem;
	}
	.main-title h2 .bg-text {
	  font-size: 2.3rem;
	}
	.news {
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 6rem;
	  }
    
  }
  @media screen and (max-width: 1432px) {
  
	.contact-content-con {
	  margin-left: 0;
	  margin-top: 2.5rem;
	  margin-bottom: 6rem;
	}

  .selectdiv select{
    width: 56vw;
  }
  .selectdiv{
    width: 50vw;
  }
  
	.contact-content-con .i-c-2 {
	  flex-direction: column;
	}
  
	.contact-content-con .i-c-2 :last-child {
	  margin-left: 0;
	  margin-top: 1.5rem;
	}
  
	.main-title h2 .bg-text {
	  font-size: 5.5rem;
	}
	.carusel-container_poza
	{
		grid-template-columns: 1fr;
    justify-content: center;
	}
	.right-carusel
	{
		padding-left: 4rem;
		padding-top: 4rem;
		border-left: 3px solid black;
		border-top: 3px solid black;
	}
  }
  @media screen and (max-width: 1600px) {
  .produs_popup-inner
  {
    width: 90vw;
  }
	.container1 {
	  padding: 7rem 11rem;
	}
	.me-content .right-me {
		padding-right: 9rem;
	  }
  }
  @media screen and (max-width: 1250px) {
	.contact-form{
		width: 70vw;
	}
  .selectdiv select {
    width: 66vw;
  }
  .selectdiv{
    width: 58vw;
  }
	.news {
	  grid-template-columns: repeat(2, 1fr);
	  margin-top: 6rem;
	}
  .news .new img{
    height: auto;
  }

	.contact-content-con {
		margin-left: 0;
		margin-top: 2.5rem;
	  }
	
	  .contact-content-con .i-c-2 {
		flex-direction: column;
	  }
	
	  .contact-content-con .i-c-2 :last-child {
		margin-left: 0;
		margin-top: 1.5rem;
	  }
	
	  .contact-content-con {
		margin-bottom: 6rem;
	  }
	}
  @media screen and (max-width: 1070px) {
    .carusel_text{
      font-size: 1.4rem;
    }
    .selectdiv select{
      width: 64vw;
    }
    .selectdiv{
      width: 57vw;
    }
	.about-container {
	  grid-template-columns: repeat(1, 1fr);
	}
	.about-container .right-about {
	  padding-top: 2.5rem;
	}
  
	.main-title h2 {
	  font-size: 4rem;
	}
	.main-title h2 span {
	  font-size: 4rem;
	}
	.main-title h2 .bg-text {
	  font-size: 4.5rem;
	}
	.me-content .right-me {
		padding-right: 9rem;
	  }
  }
  @media screen and (max-width: 970px) {
	.container1 {
	  padding: 7rem 3rem;
	}
  
	.about-container .left-about {
	  padding-right: 0rem;
	}

	.me-content {
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 6rem;
	  }
	
	.left-me .h-shape {
		display: none;
	  }
	.left-me .image {
		width: 90% !important;
		margin: 0 auto !important;
	  }
	
	.right-me {
		grid-row: 1;
		padding-right: 0rem !important;
		width: 90%;
		margin: 0 auto;
	  }
	.right-me .name {
		font-size: 2.5rem !important;
		text-align: center;
		padding-top: 3rem;
	}
  }
  @media screen and (max-width: 720px) {
    
  .selectdiv select{
    width: 63vw;
  }
  .selectdiv{
    width: 56vw;
  } 
	.container1 {
	  padding: 7rem 1rem;
	}
  
	.about-stats .progress-bars {
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.about-container .right-about {
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.timeline {
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.main-title h2 {
	  font-size: 3rem;
	}
	.main-title h2 span {
	  font-size: 3rem;
	}
	.main-title h2 .bg-text {
	  font-size: 4rem;
	}
  }
  